---
import { getCollection, type CollectionEntry } from "astro:content";
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { blog: post.data.title },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;
---

<div>Hello</div>
