---
import Main from "~/layouts/main.astro";
import I18n from "./i18n";
import { SITE_TITLE } from "~/constants";
import Home from "~/components/Home.astro";
// const RECAPTCHA_SITE_KEY = import.meta.env.RECAPTCHA_SITE_KEY;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Loa212</title>
    <meta name="description" content="Loa212" />
  </head>

  <Main title={SITE_TITLE} i18nId={I18n}>
    <Home i18nId={I18n} />
  </Main>


</html>
