---
import type { CollectionEntry } from "astro:content";
import Navbar from "./Navbar.astro";

export interface Props {
  i18nId: CollectionEntry<"i18n">["id"];
}

const { i18nId } = Astro.props;
---

<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col min-h-screen">
    <Navbar i18nId={i18nId} />
    <!-- Page content here -->
    <slot />
  </div>
  <div class="drawer-side">
    <label for="my-drawer-3" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200">
      <!-- Sidebar content here -->
      <li><a>Sidebar Item 1</a></li>
      <li><a>Sidebar Item 2</a></li>
    </ul>
  </div>
</div>
