---
import type { CollectionEntry } from "astro:content";
import Navbar from "./Navbar.astro";
import { ScrollTop } from ".";

export interface Props {
  i18nId: CollectionEntry<"i18n">["id"];
}

const { i18nId } = Astro.props;
---

<div class="drawer">
  <span id="top"></span>
  <label for="my-drawer-3" class="drawer-toggle label-description">
    <span class="sr-only">Open navigation</span>
  </label>
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col min-h-screen">
    <Navbar i18nId={i18nId} />
    <ScrollTop />
    <!-- Page content here -->
    <slot />
  </div>
  <div class="drawer-side z-[999]">
    <label for="my-drawer-3" class="drawer-overlay">
      <span class="sr-only">Close navigation</span>
    </label>
    <nav class="p-4 w-80 min-h-full bg-base-200">
      <ul class="menu">
        <!-- Sidebar content here -->
        <li class="nav-link"><a href="#portfolio">Portfolio</a></li>
        <li class="nav-link"><a href="#services">Services</a></li>
        <li class="nav-link"><a href="#pricing">Pricing</a></li>
      </ul>
    </nav>
  </div>
</div>

<script>
  // whenever a .nav-link is clicked, close the drawer
  document.querySelectorAll(".nav-link").forEach((el) => {
    if (!el) return;
    el.addEventListener("click", () => {
      const checkbox = document.getElementById("my-drawer-3");
      if (!checkbox || !(checkbox instanceof HTMLInputElement)) return;
      checkbox.checked = false;
    });
  });
</script>
