---
import { CONTACT_EMAIL } from "~/constants";
import { Instagram, Linkedin, Telegram, Whatsapp } from "./icons";
---

<footer class="bg-black text-white body-font">
  <div
    class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col"
  >
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a
        class="flex title-font font-medium items-center md:justify-start justify-center text-white"
      >
        <span class="text-xl">Loa212</span>
      </a>
      <p class="mt-2 text-sm text-white">
        We design and develop custom websites that are tailored to your specific
        needs and requirements.
      </p>
    </div>
    <div
      class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center"
    >
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-white tracking-widest text-sm mb-3"
        >
          SERVICES
        </h2>
        <nav class="list-none mb-10 space-y-3">
          <li>
            <a class="text-white hover:text-gray-800">Web development</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-800">App development</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-800">Repository management</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-800">Fractional CTO</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-white tracking-widest text-sm mb-3"
        >
          COMPANY
        </h2>
        <nav class="list-none mb-10 space-y-3">
          <li>
            <a class="text-white hover:text-gray-800">First Link</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-800">Second Link</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-800">Third Link</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-800">Fourth Link</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-white tracking-widest text-sm mb-3"
        >
          LEGAL
        </h2>
        <nav class="list-none mb-10 space-y-3">
          <li>
            <a
              href="/terms-of-service"
              class="text-white underline-offset-4 hover:underline"
              >Terms of service</a
            >
          </li>
          <li>
            <a
              href="/privacy-policy"
              class="text-white underline-offset-4 hover:underline"
              >Privacy policy</a
            >
          </li>
          <li>
            <a class="text-white hover:text-gray-800">Third Link</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-800">Fourth Link</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-white tracking-widest text-sm mb-3"
        >
          SOCIAL
        </h2>
        <nav
          class="list-none mb-10 space-y-3
        [&>li]:flex [&>li]:items-center [&>li]:justify-center [&>li]:md:justify-start"
        >
          <li>
            <a
              href="https://wa.me/message/7EGRWOQJ3OY3G1"
              target="_blank"
              class="text-white/80 hover:text-white flex items-center justify-start gap-2"
            >
              <Whatsapp size={16} />Whatsapp</a
            >
          </li>
          <li>
            <a
              href="https://t.me/loa212"
              target="_blank"
              class="text-white/80 hover:text-white flex items-center justify-start gap-2"
            >
              <Telegram size={16} />Telegram</a
            >
          </li>
          <li>
            <a
              href="https://www.instagram.com/loa212/"
              target="_blank"
              class="text-white/80 hover:text-white flex items-center justify-start gap-2"
            >
              <Instagram size={16} />Instagram</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/loa212/"
              target="_blank"
              class="text-white/80 hover:text-white flex items-center justify-start gap-2"
            >
              <Linkedin size={16} />Linkedin</a
            >
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div class="container mx-auto px-5 text-center mb-4">
    <p class="text-white text-sm">
      CopyRight © 2023 Loa212 - P.Iva 02713960991 - Via Tortona 3A, Genova
      16129 -
      <a href={`mailto:${CONTACT_EMAIL}`} class="text-white hover:text-gray-800"
        >{CONTACT_EMAIL}</a
      >
    </p>
  </div>
</footer>
