---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import FakihAmriAbdullah from "../assets/FakihAmriAbdullah.png";
import { type CollectionEntry, getEntry } from "astro:content";

export interface Props {
  i18nId: CollectionEntry<"i18n">["id"];
}

const { i18nId } = Astro.props;

const i18n = await getEntry("i18n", i18nId);
const { hero } = i18n.data;
---

<div class="hero grow h-full min-h-[70vh]">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <Image
      src={FakihAmriAbdullah}
      class="max-w-sm"
      alt="programmer sitting on a chair"
    />
    <div>
      <h1 class="text-5xl font-bold">{hero.title}</h1>
      <p class="py-6">
        {hero.subtitle}
      </p>
      <Button variant="success" size="lg">{hero.cta}</Button>
    </div>
  </div>
</div>
