---
import Button from "./Button.astro";
import FakihAmriAbdullah from "/FakihAmriAbdullah.png";
---

<div class="hero grow h-full">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src={FakihAmriAbdullah}
      class="max-w-sm"
      alt="programmer sitting on a chair"
    />
    <div>
      <h1 class="text-5xl font-bold">Tailor-made web design</h1>
      <p class="py-6">
        We are a team of talented designers making custom websites for your
        business. Each website is unique and tailored to your needs.
      </p>
      <Button variant="success" size="lg">Discover more</Button>
    </div>
  </div>
</div>
