---
import { BackdropShape } from ".";
import { ArrowRight } from "./icons";
import { type CollectionEntry, getEntry } from "astro:content";

export interface Props {
  i18nId: CollectionEntry<"i18n">["id"];
}

const { i18nId } = Astro.props;

const i18n = await getEntry("i18n", i18nId);
const { hero } = i18n.data;
---

<div
  class="relative grow h-full min-h-[80vh] flex flex-col items-center justify-center"
>
  <!-- background -->
  <BackdropShape />

  <!-- content -->
  <div class="text-center space-y-8 max-w-3xl p-4 lg:p-0 text-neutral">
    <h1 class="drop-shadow-lg text-6xl lg:text-8xl font-bold">
      {hero.title}
    </h1>
    <p class="text-xl lg:text-2xl">
      {hero.subtitle}
    </p>

    <a
      href="/#pricing"
      class="py-4 px-6 uppercase inline-flex items-center gap-x-2 font-semibold rounded-md border border-transparent bg-primary text-white hover:bg-blue-700"
    >
      {hero.cta}
      <div
        id="arrow"
        class="animate-shake animate-twice animate-duration-500 animate-delay-1000 animate-ease-linear animate-normal"
      >
        <ArrowRight />
      </div>
    </a>
  </div>
</div>
