---
import { getCollection } from "astro:content";
import { Languages } from "./icons";
import type { CollectionEntry } from "astro:content";
import { Check } from "./icons";
import * as Flags from "../assets/flags";
import { Image } from "astro:assets";

export type Props = {
  i18nId: CollectionEntry<"i18n">["id"];
};

const { i18nId } = Astro.props;

const langs = await getCollection("i18n");

const currentLang = langs.find((lang) => lang.id === i18nId);
---

<div class="dropdown">
  <label tabindex="0" class="btn capitalize">
    <Languages size={18} />
    <span class="hidden md:block">
      {currentLang?.data.displayName}
    </span>
  </label>
  <ul
    tabindex="0"
    class="dropdown-content dropdown-right z-[1] menu p-2 shadow bg-base-100 rounded-box w-36 ring-1 ring-slate-200/5"
  >
    {
      langs.map((lang) => {
        return (
          <li>
            <a href={`/${lang.id === "en" ? "" : lang.id}`} class="capitalize">
              <Image
                src={Flags[lang.id]}
                alt={lang.data.displayName}
                width={18}
                height={18}
              />
              {lang.data.displayName}
              {lang.id === i18nId && (
                <span class="text-slate-500">
                  <Check size={18} />
                </span>
              )}
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
