---
import { Languages } from "./icons";
---

<div class="dropdown">
  <label tabindex="0" class="btn capitalize">
    <Languages size={18} />
     English</label
  >
  <ul
    tabindex="0"
    class="dropdown-content dropdown-right z-[1] menu p-2 shadow bg-base-100 rounded-box w-36 ring-1 ring-slate-200/5"
  >
    <li><a>Item 1</a></li>
    <li><a>Item 2</a></li>
  </ul>
</div>
