---
import { type CollectionEntry, getEntry } from "astro:content";
import { LanguageSwitch } from ".";
import NavigationLinks from "./NavigationLinks.astro";

export interface Props {
  i18nId: CollectionEntry<"i18n">["id"];
}

const { i18nId } = Astro.props;

const i18n = await getEntry("i18n", i18nId);
const { navbar } = i18n.data;
---

<div id="navbar" class="navbar fixed top-0 z-50">
  <div class="navbar-start">
    <div class="flex-none lg:hidden">
      <label for="my-drawer-3" class="btn btn-square btn-ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block w-6 h-6 stroke-current"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path></svg
        >
      </label>
    </div>
    <a
      href="/"
      class="btn btn-ghost normal-case text-3xl text-primary font-bold"
      >Loa212</a
    >
  </div>
  <div class="navbar-end gap-3">
    <ul class="menu menu-horizontal px-1 hidden lg:flex">
      <NavigationLinks i18nId={i18nId} />
    </ul>
    <LanguageSwitch i18nId={i18nId} />
    <a href="#contact-us" class="btn btn-primary text-white">{navbar.contact}</a
    >
  </div>
</div>

<style>
  .nav-bg {
    @apply bg-white border-b border-gray-700/20 shadow-md;
  }
</style>

<script>
  import { mountNavbarListener } from "../utils/navbar-listener";

  document.addEventListener("astro:page-load", () => mountNavbarListener());
</script>
