---
import type { CollectionEntry } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import { CookiesBanner, Drawer } from "~/components";
import "@fontsource-variable/open-sans";

export interface Props {
  title: string;
  i18nId: CollectionEntry<"i18n">["id"];
}

const { title, i18nId } = Astro.props;
---

<html lang="en" data-theme="dark" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <ViewTransitions />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Drawer i18nId={i18nId}>
      <CookiesBanner />
      <slot />
    </Drawer>
    <style is:global>
      * {
        font-family: "Open Sans Variable", sans-serif;
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
